<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5" />

    <link rel="stylesheet" href="/styles/main.css">  
    <link rel="stylesheet" href="/styles/partials/page-landing.css">          
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body id="page-landing">

    <img class="success-img" src="/images/success-background.svg"/>

        
</body>
</html>